/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* common style start */
html {
  scroll-behavior: smooth;
}
.text-primary {
  color: #ea1d5d !important;
}
.text-secondary {
  color: #707376 !important;
}
.bg-primary {
  background-color: #ea1d5d !important;
}

.section-tiltle {
  position: relative;
  display: inline-block;
}

.section-tiltle::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -5px;
  width: 60px;
  height: 3px;
  background-color: #d21751;
}

/* common style end */

header .navbar {
  height: 65px;
  overflow: visible;
  z-index: 20;

  --bs-navbar-toggler-focus-width: 0rem;
}
header .nav-link {
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0 10px;
}
.nav-link:hover {
  color: #d21751;
}

header .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ea1d5d;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

header .nav-link:hover::before {
  width: 100%;
}

header .nav-link.active::before {
  width: 100%;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #d21751;
}

.btn-success {
  background-color: #d21751;
}

.btn-success:hover {
  background-color: #d2175230;
}

/* hero section start */

.carousel-inner,
.carousel-item,
.slider-content {
  height: 100vh;
  max-height: 700px;
}

.carousel-inner .carousel-item-1 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../img/banner1.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner1.jpg);
  background-size: cover;
}
.carousel-inner .carousel-item-2 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../img/banner2.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner2.jpg);
  background-size: cover;
}
.carousel-inner .carousel-item-3 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../img/banner3.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner3.jpg);
  background-size: cover;
}
.carousel-inner .carousel-item-4 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../img/banner4.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner4.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner4.jpg);
  background-size: cover;
}
/* hero section end */

/* about section start */
.service-heading:hover {
  color: #d21751 !important;
}

.border-primary {
  border-color: #d21751 !important;
}

.about-section .service-icon {
  color: #d21751;
}
.about-section .service-icon:hover {
  background-color: #d21751;
  color: #fff;
}

.about-section .service-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
}

.about-section .service-image .image {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.about-section .service-image:hover .image {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* about section end */

/* service section start */
.service {
  background-color: #f3f2f2;
}
.service .section-tiltle::after {
  left: 0;
  width: 50px;
}

.service .service-btn {
  background-color: #d21751;
  color: #fff;
}
/* service section end */

/* gallery section start */

.gallery .section-tiltle::after {
  left: 10px;
  width: 50px;
}
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery .gallery-item .gallery-mark {
  width: 90%;
  position: absolute;
  bottom: -100%;
  left: 5%;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.gallery .gallery-item:hover .gallery-mark {
  opacity: 1 !important;
  bottom: 5%;
}
/* gallery section end */

/* testimonial section start */

.social-link .fa-brands:hover {
  color: #d21751 !important;
}

.testimonial .carousel-inner,
.testimonial .carousel-item,
.testimonial .slider-content {
  height: auto;
}
/* testimonial section end */

/* offer section start */
.offer-section {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../img/banner4.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner4.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner4.jpg);
  background-size: cover;
  background-attachment: fixed;
  float: initial;
}

.offer-section .offer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer-section .offer-content .section-tiltle::after {
  left: 0;
}
.offer-content .offer-btn :hover {
  background-color: #d21751 !important;
  color: #fff !important;
}

/* offer section end */

/* join section start */
.join-section .email-filed {
  border: 1px solid #ea1d5d;
}

.join-section .section-tiltle::after {
  width: 40px;
}
/* join section end */

/* work section start */

.footer-top .item-icon {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.footer-top .item:hover .item-icon {
  opacity: 1;
}

.footer-top .item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.footer-top .item img {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

/* work section end */

/* footer section start */

.logo .fa-brands:hover {
  background-color: #d21751 !important;
  color: #fff !important;
}

.footer-section .overlay .w3school:hover {
  color: #fff !important;
}
/* footer section end */

@media screen and (max-width: 767px) {
  .slider-content .position-relative {
    position: static !important;
    padding-top: 50px;
  }

  header .navbar-collapse {
    background-color: #fff;
    padding: 30px 0;
  }

  header .nav-link {
    color: #000;
  }

  .join-section .email-field,
  .join-section .btn-submit {
    width: 100% !important;
    margin-bottom: 10px;
  }
}
